* {
    margin: 0;
    
}

.wrapper {
    height: 100vh;
    font-weight: 555;
    display: block;
    
}

body {
    font-family: "Roboto", sans-serif;
    color: darkred;
    background: linear-gradient(30deg, violet, coral);
}

h1 {
    font-family: "Baloo", serif;
    text-align: center;
}

div {
    text-align: center;
}

.formItem, .button, .output, .alerts{
    margin-top: 1.5rem;
}

input, select  {
    margin-top: .5rem;
    border: 2px solid white;
    border-radius: 40px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background: none;
}

input {
    font-weight: 555;
    color: darkred;
    text-align: center;
}

select {
    font-weight: 555;
    color: darkred;
}

button {
    border: 2px solid white;
    color: darkred;
    font-weight: 777;
    background-color: white;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 50px;

}

